<h1>Konva</h1>
<div class="graphs-container">
  <app-konva></app-konva>
  <app-konva scale="0.75"></app-konva>
  <app-konva scale="0.5"></app-konva>
</div>

<h1>Pixi</h1>
<div class="graphs-container">
  <app-pixi></app-pixi>
  <app-pixi scale="0.75"></app-pixi>
  <app-pixi scale="0.5"></app-pixi>
</div>

<h1>Paper</h1>
<div class="graphs-container">
  <app-paper></app-paper>
  <app-paper scale="0.75"></app-paper>
  <app-paper scale="0.5"></app-paper>
</div>

<h1>Go</h1>
<div class="graphs-container">
  <app-go></app-go>
</div>

<h1>Paper Graph Benchmark</h1>
<app-paper-graph></app-paper-graph>

<h1>Pixi Graph Benchmark</h1>
<app-pixi-graph></app-pixi-graph>

<h1>Konva Graph Benchmark</h1>
<app-konva-graph></app-konva-graph>
